
*, input {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  font-size: 14px;
}

body { 
  margin-top: 20px;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: row;
}

.main button {
  cursor: pointer
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: cell;
  height: fit-content;
}

:root {
  --square-width: 18px;
  --square-background: #ececec;
  --lighter-background: #eee;
  --border-width: 1px;
}

.grid {
  margin-right: 20px;
  margin-bottom: 20px;
}

table { 
  border-collapse: collapse;
}

.square.selected {
  border: var(--border-width) solid black;
  z-index: 100000 !important;
}

.square {
  position: relative;
  width: var(--square-width);
  height: var(--square-width);
  display: inline-block;
  border: var(--border-width) solid white;
}

.square input {
  border: none;
  outline: none;
  height: 16px;
  z-index: 200;
  background: transparent;
  position: relative;
  top: 2px;
  /* padding-left: 3px; */
  padding-left: 1px;
}

.square button {
  position: relative;
  z-index: 2;
  top: -0.5px;
  padding: 0px 3px;
  padding-top: 1px;
  font-size: 13.2px;
  min-width: calc(var(--square-width) + 0.5px);
}

.square.button {
  background-color: transparent !important;
}

.square.heading pre {
  font-size: 26px;
}

.square .title { 
  position: relative;
  top: 10px;
  text-align: center;
}

.square:not(.short) .title {
  padding-left: 3px;
}


.row {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.square-editor { 
  padding-top: 1px;
}

.square .input-ref {
  position: absolute;
  visibility: hidden;
}

.cm-editor { 
  line-height: 18px;
  border: none;
  width: 439px;
  background: var(--lighter-background);
  font-size: 20%;
}

.square-editor .cm-editor .cm-content * { 
  font-family: 'Iosevka Web', monospace;
  font-size: 13px;
}

.cm-editor .cm-activeLine {
  background: transparent;
}

.cm-editor.cm-focused {
  outline: none;
}

.w-color-wheel {
  margin: 16px 0px;
}

.w-color-wheel-pointer {
  display: none;
}

.navigation-grid {
  display: flex;
  flex-direction: column;
}

.navigation-grid td { 
  cursor: pointer
}

#vline {
  width: 1px;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  top: 0px;
  background: black;
}

#hline {
  height: 1px;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  left: 0px;
  background: black;
}
